In [6]:
#pythonstudy.xyz

import pandas as pd
import numpy as np

In [7]:
data = [1,3,4,6]
s = pd.Series(data)
s

0    1
1    3
2    4
3    6
dtype: int64

In [10]:
data ={
    'year' : [2017, 2018, 2019],
    'GDP rate' : [2.7, 3.1, 3.0],
    'GDP' : ['1.6M', '1.7M', '1.8M']
}

df = pd.DataFrame(data)
df

   year  GDP rate   GDP
0  2017       2.7  1.6M
1  2018       3.1  1.7M
2  2019       3.0  1.8M

In [16]:
data = np.random.rand(2,3,4)
p = pd.Panel(data)
p
p[0]

          0         1         2         3
0  0.596685  0.565480  0.915427  0.494163
1  0.977421  0.754128  0.676038  0.308044
2  0.094556  0.721163  0.531965  0.484738